<%= simple_form_for(@team, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :role1, :include_blank => "-- Select Slot #1 --", label: "Role #1", collection: Character.all  %>
    <%= f.input :role2 %>
    <%= f.input :role3 %>
    <%= f.input :role4 %>
    <%= f.input :role5 %>
    <%= f.input :role6 %>
    <%= f.input :role7 %>
    <%= f.input :role8 %>
    <%= f.input :role9 %>
    <%= f.input :role10 %>
    <%= f.input :rbgdate %>
    <%= f.input :rbghour %>
    <%= f.input :rbgmin %>
    <%= f.input :rbgzone %>
    <%= f.input :mincr %>
    <%= f.input :minilvl %>
    <%= f.input :mintitle %>
    <%= f.input :min2s %>
    <%= f.input :min3s %>
    <%= f.input :min5s %>
    <%= f.input :rbgdurationHour %>
    <%= f.input :rbgdurationMin %>
    <%= f.input :isAvailable %>
    <%= f.input :recurs %>
    <%= f.input :rolesNeeded %>
    <%= f.input :classesNeeded %>
    <%= f.input :listed %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
