
<tr>
    <td><%= team.name %></td>
    <td><%= team.role1 %></td>
    <td><%= team.role2 %></td>
    <td><%= team.role3 %></td>
    <td><%= team.role4 %></td>
    <td><%= team.role5 %></td>
    <td><%= team.role6 %></td>
    <td><%= team.role7 %></td>
    <td><%= team.role8 %></td>
    <td><%= team.role9 %></td>
    <td><%= team.role10 %></td>
    <td><%= team.rbgdate %></td>
    <td><%= team.rbghour %></td>
    <td><%= team.rbgmin %></td>
    <td><%= team.rbgzone %></td>
    <td><%= team.rbgdurationHour %></td>
    <td><%= team.rbgdurationMin %></td>
    <td><%= team.isAvailable %></td>
    <td><%= team.recurs %></td>
    <td><%= team.rolesNeeded %></td>
    <td><%= team.classesNeeded %></td>
    <td><%= team.listed %></td>
    <td><%= team.description %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>