
      <tr>
        <td><%= link_to team.name, team %></td>
        <td><%= team.rbgdate %></td>
        <td><%= team.rolesNeeded %></td>
        <td><%= team.classesNeeded %></td>
        <td><%= team.mincr %></td>
        <td><%= team.mintitle %></td>
        <td><%= team.description %></td>
        <% if current_user == team.user %>
            <td><%= link_to 'Edit', edit_team_path(team) %></td>
            <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
      </tr>
