<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Role1:</strong>
  <%= @team.role1 %>
</p>

<p>
  <strong>Role2:</strong>
  <%= @team.role2 %>
</p>

<p>
  <strong>Role3:</strong>
  <%= @team.role3 %>
</p>

<p>
  <strong>Role4:</strong>
  <%= @team.role4 %>
</p>

<p>
  <strong>Role5:</strong>
  <%= @team.role5 %>
</p>

<p>
  <strong>Role6:</strong>
  <%= @team.role6 %>
</p>

<p>
  <strong>Role7:</strong>
  <%= @team.role7 %>
</p>

<p>
  <strong>Role8:</strong>
  <%= @team.role8 %>
</p>

<p>
  <strong>Role9:</strong>
  <%= @team.role9 %>
</p>

<p>
  <strong>Role10:</strong>
  <%= @team.role10 %>
</p>

<p>
  <strong>Rbgdate:</strong>
  <%= @team.rbgdate %>
</p>

<p>
  <strong>Rbghour:</strong>
  <%= @team.rbghour %>
</p>

<p>
  <strong>Rbgmin:</strong>
  <%= @team.rbgmin %>
</p>

<p>
  <strong>Rbgzone:</strong>
  <%= @team.rbgzone %>
</p>

<p>
  <strong>Rbgdurationhour:</strong>
  <%= @team.rbgdurationHour %>
</p>

<p>
  <strong>Rbgdurationmin:</strong>
  <%= @team.rbgdurationMin %>
</p>

<p>
  <strong>Isavailable:</strong>
  <%= @team.isAvailable %>
</p>

<p>
  <strong>Recurs:</strong>
  <%= @team.recurs %>
</p>

<p>
  <strong>Rolesneeded:</strong>
  <%= @team.rolesNeeded %>
</p>

<p>
  <strong>Classesneeded:</strong>
  <%= @team.classesNeeded %>
</p>

<p>
  <strong>Listed:</strong>
  <%= @team.listed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
