<% provide(:title, 'Create Account') %>

<div class="hero-unit">
	<h2><%= yield(:title)%></h2><hr>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <div class="row">
          <div class="span4">
            <%= f.input :name, label: "First Name" %>
            <%= f.input :email, label: "Email Address" %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>
          </div>
          <div class="span4">
            <%= f.input :skype, label: "Skype ID", placeholder: "optional" %>
            <%= f.input :battletag, label: "Battle Tag", placeholder: "optional" %>
            <%= f.input :aboutMe, label: "About Me", :input_html => { :rows => 5, :placeholder => "Briefly describe your WoW history. How long have you been playing? Which achievement(s) are you most proud of and why? How often do you play WoW? Is this toon your main or an alt? What spec do you prefer? Anything that might be useful to know, please include here.", :class => "span5"}   %>
            <%= f.input :addons, label: "Add-ons", :input_html => { :rows => 5, :placeholder => "Which add-ons do you use for RBGs?", :class => "span5"}   %>
            <%= f.input :haveMic, label: "Do you have a mic?", as: :radio_buttons, :item_wrapper_class => 'inline'  %>
          </div>
        </div>

    <div class="form-actions">
        <%= f.submit "Create Account", class: "btn btn-primary btn-large" %>
    </div>
    <center>
            <small><strong>RBGHub.com</strong> respects your privacy. Your information will never be sold or traded, and we will never spam you.<br>You can cancel your account at any time.</small>
          </center>
  <% end %>
</div>