
      <tr>
        <td><%= link_to Character.find(listing.toon).name, Character.find(Character.find(listing.toon).id) %></td>
        <td>
            <!--Tauren-->
            <% if Character.find(listing.toon).race == 6 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20071212064706/wowwiki/images/c/cb/Tauren_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 6 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images4.wikia.nocookie.net/__cb20071212064733/wowwiki/images/b/ba/Tauren_Male_32x32.png", height: '32', width: '32' %>
            <% end %> 

            <!--Undead-->
            <% if Character.find(listing.toon).race == 5 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20071212063253/wowwiki/images/0/02/Forsaken_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 5 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20071212063341/wowwiki/images/5/5f/Forsaken_Male_32x32.png", height: '32', width: '32' %>
            <% end %> 

            <!--Orc-->
            <% if Character.find(listing.toon).race == 2 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212064612/wowwiki/images/3/35/Orc_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 2 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212064635/wowwiki/images/4/4c/Orc_Male_32x32.png", height: '32', width: '32' %>
            <% end %> 

            <!--Gnome-->
            <% if Character.find(listing.toon).race == 7 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20071212063423/wowwiki/images/4/43/Gnome_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 7 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212063553/wowwiki/images/5/56/Gnome_Male_32x32.png", height: '32', width: '32' %>
            <% end %> 

            <!--Goblin-->
            <% if Character.find(listing.toon).race == 9 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20111022221454/wowwiki/images/c/c1/Goblin_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 9 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20111022221550/wowwiki/images/5/58/Goblin_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Human-->
            <% if Character.find(listing.toon).race == 1 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212064339/wowwiki/images/8/80/Human_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 1 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images3.wikia.nocookie.net/__cb20071212064436/wowwiki/images/5/56/Human_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Troll-->
            <% if Character.find(listing.toon).race == 8 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212064761/wowwiki/images/7/78/Troll_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 8 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images3.wikia.nocookie.net/__cb20071212064850/wowwiki/images/c/ce/Troll_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Draenei-->
            <% if Character.find(listing.toon).race == 11 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20071212062732/wowwiki/images/3/3c/Draenei_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 11 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images4.wikia.nocookie.net/__cb20071212062806/wowwiki/images/2/2e/Draenei_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Worgen-->
            <% if Character.find(listing.toon).race == 22 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://a.deviantart.net/avatars/h/e/helasz.png?7", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 22 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://fc07.deviantart.net/fs70/f/2010/326/d/6/worgen_male_icon_by_murlocaggrob_madmab-d33eq9f.jpg", height: '32', width: '32' %>
            <% end %>

            <!--Blood Elf-->
            <% if Character.find(listing.toon).race == 10 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212062610/wowwiki/images/2/26/BloodElf_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 10 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212062644/wowwiki/images/3/30/BloodElf_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Night Elf-->
            <% if Character.find(listing.toon).race == 4 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20071212064510/wowwiki/images/a/ab/NightElf_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 4 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images3.wikia.nocookie.net/__cb20071212064537/wowwiki/images/a/ad/NightElf_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Dwarf-->
            <% if Character.find(listing.toon).race == 3 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images2.wikia.nocookie.net/__cb20071212062905/wowwiki/images/e/e9/Dwarf_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 3 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20071212063003/wowwiki/images/f/f7/Dwarf_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Panda Ally-->
            <% if Character.find(listing.toon).race == 25 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images3.wikia.nocookie.net/__cb20120321050448/wowwiki/images/4/48/Pandaren_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 25 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20111022221708/wowwiki/images/a/a3/Pandaren_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

            <!--Panda Horde-->
            <% if Character.find(listing.toon).race == 26 && Character.find(listing.toon).gender == 1 %>
                <%= image_tag "http://images3.wikia.nocookie.net/__cb20120321050448/wowwiki/images/4/48/Pandaren_Female_32x32.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).race == 26 && Character.find(listing.toon).gender == 0 %>
                <%= image_tag "http://images1.wikia.nocookie.net/__cb20111022221708/wowwiki/images/a/a3/Pandaren_Male_32x32.png", height: '32', width: '32' %>
            <% end %>

        </td>
        <td>
            <% if Character.find(listing.toon).cls == 6 %>
                <%= image_tag "http://hydra-media.cursecdn.com/wowpedia.org/e/e5/Ui-charactercreate-classes_deathknight.png", height: '32', width: '32' %>
            <% elsif Character.find(listing.toon).cls == 11 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/6/6f/Ui-charactercreate-classes_druid.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 3 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/4/4e/Ui-charactercreate-classes_hunter.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 8 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/5/56/Ui-charactercreate-classes_mage.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 10 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/2/24/Ui-charactercreate-classes_monk.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 2 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/8/80/Ui-charactercreate-classes_paladin.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 5 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/0/0f/Ui-charactercreate-classes_priest.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 4 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/b/b1/Ui-charactercreate-classes_rogue.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 7 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/3/3e/Ui-charactercreate-classes_shaman.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 9 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/c/cf/Ui-charactercreate-classes_warlock.png", height: '32', width: '32' ) %>
            <% elsif Character.find(listing.toon).cls == 1 %>
                <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/3/37/Ui-charactercreate-classes_warrior.png", height: '32', width: '32' ) %>
            <% end %>
        </td>
        <td><%= listing.role %></td>
        <td><%= Character.find(listing.toon).ilvl %></td>
        <td><%= Character.find(listing.toon).cr %></td>
        <td><%= Character.find(listing.toon).pvppower %></td>
        <td><%= listing.description %></td>
        <td><%= time_ago_in_words(listing.created_at) %> ago</td>

      </tr>
