    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.description %></td>
        <td><%= listing.role %></td>
        <td><%= listing.listSkype %></td>
        <td><%= listing.listBattletag %></td>
        <td><%= listing.toon %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>