<% provide(:title, 'About') %>
<div class="hero-unit">
	<center>
		<p><h1 class="brand"><%= yield(:title)%></h1></p>
		<hr>
	</center>


	<p>
	<h2>How It Works</h2>
		<ol>
			<li>Start by <%= link_to "creating an account", new_user_registration_path %>. You can also include your Skype and <%= link_to "BattleTag", "http://us.battle.net/en/battletag/", :target => "_blank" %> IDs along with some basic bio information to make it easier to find a group, or skip it to save time (you can always update your account info later!)</li>
			<li>Next, add some toons to your <%= link_to "roster", characters_path %>. This is a one-time setup for each toon you with to RBG with and takes about 30 seconds per character.</li>
			<li>Time to find a team! Check out the <%= link_to "teams portal", '#' %> to browse available teams or create one of your own for others to join. If you're looking to play right this second you can always add a toon to the <%= link_to "live players", listings_path %> scroll and let others find you for a game now!
		</ol>
	</p>
	<br>


	<p>
	<h2>Why Use RBG Hub?</h2>
		RBG Hub is a lightweight, mobile-friendly service focusing exclusively on Rated Battlegrounds for World of Warcraft. Not everyone has the luxury of a regular RBG group, but now with WoW's cross-server RBG availability finding players of equal skill and schedule has never been easier.</p>
		<p>
		Only want to play with 1500+ players, Sunday mornings between 8a-11a PST? Looking for a specific class to fill that last spot? Create or search for raids with filters and connect with people just like you!

	</p>

</div>
