<%= simple_form_for(@teamstat, html: { class: "form-horizontal"}) do |f| %>

  <%= f.input :input, label: "List players names formatted by name-realm", :input_html => { :rows => 5, :placeholder => "Ex: Reckful-Tichondrius, Swifty-Darkspear", :class => "span9"} %>
  <%= f.input :european, :as => :select, :collection => [['US',false],['EU',true]], :include_blank => false, :label => "Server"%>


		<p>
		This site is designed to be used with the <%= link_to "ListPlayers", "http://www.wowinterface.com/downloads/info22058-ListPlayers.html", class: "btn btn-mini btn-primary", :target => "_blank" %> add on. After installation, type /listplayers while in a raid and copy/paste the contents of the add-on into the field below. You'll see a breakdown of everyone on your team to help you figure out how to improve it.
	</p>

	<p>
		You can also /listenemies while in an RBG group to pull up the enemy team's information, copy/paste below, and then determine who would make the best focus target once the game starts.
	</p>

  	<center>
	  <div class="form-actions">
	    <%= f.submit "Analyze RBG Team" , class: "btn btn-success btn-large" %><br>
	    <small>Please be patient, results can take up to 10 seconds while data loads from WoWArmory</small>
	</center>
  </div>
<% end %>
