<% provide(:title, "Team ##{@teamstat.id}") %>
<% toon_counter = 0 %>
<% ideal_ilvl = 522 %>
<% columns = 5 %>
<% ilvl_array = [] %>
<% cr_array = [] %>
<% rbg_array = [] %>
<% arena_array = [] %>
<% score_array = [] %>
<% tripwire = true %>

<table class="table">
  <thead>
    <tr>
      <th width="11%"><h3>Toon</h3></th>
      <th width="9%"></th>
      <th width="14%"><h3>Gear</h3></th>
      <th width="22%"><h3>RBG Stats</h3></th>
      <th width="20%"><h3>Arena Stats</h3></th>
      <th width="15%"><h3>RBG Score</h3></th>
      <th width="8%"><h3>Notes</h3></th>
    </tr>
  </thead>

    <tbody>
    	<% @teamstat.toon_db.each do |armory| %>
    		<% unless armory["status"] == "nok" %>
        		<!-- Set Achievements -->
			    <% achievements = armory["achievements"]["achievementsCompleted"] %>
			    <% title = "" %>
			    <% title = "Challenger" if achievements.include? 2090 %>
			    <% title = "Rival" if achievements.include? 2093 %>
			    <% title = "Duelist" if achievements.include? 2092 %>
			    <% title = "Gladiator" if achievements.include? 2091 %>
	    	    <% arena_master = achievements.include?(1174) ? true : false %>
				<% hoth = achievements.include?(6941) || achievements.include?(6942) ? true : false %>

			    <tr>
		    	<% if armory["class"] == 6 %>
		    		<td class="dk">
		    	<% elsif armory["class"] == 11 %>
		    		<td class=" druid">
		    	<% elsif armory["class"] == 3 %>
		    		<td class=" hunter">
		    	<% elsif armory["class"] == 8 %>
		    		<td class=" mage">
		    	<% elsif armory["class"] == 10 %>
		    		<td class=" monk">
		    	<% elsif armory["class"] == 2 %>
		    		<td class=" paladin">
		    	<% elsif armory["class"] == 5 %>
		    		<td class=" priest">
		    	<% elsif armory["class"] == 4 %>
		    		<td class=" rogue">
		    	<% elsif armory["class"] == 7 %>
		    		<td class=" shaman">
		    	<% elsif armory["class"] == 9 %>
		    		<td class=" warlock">
		    	<% elsif armory["class"] == 1 %>
		    		<td class=" warrior">
    			<% end %>
						<span style="color:black">
	    				<center>				    		
	    					<!-- Thumbnail -->
				    		<% if @teamstat.european %> 
					    		<%= link_to image_tag("http://eu.battle.net/static-render/eu/" + armory["thumbnail"], height: '96', width: '96' ), "http://eu.battle.net/wow/en/character/#{armory["realm"]}/#{armory["name"]}/advanced", :target => "_blank" %>
				    		<% else %>
					    		<%= link_to image_tag("http://us.battle.net/static-render/us/" + armory["thumbnail"], height: '96', width: '96' ), "http://us.battle.net/wow/en/character/#{armory["realm"]}/#{armory["name"]}/advanced", :target => "_blank" %>
				    		<% end %>

	    					<!-- Name / Smallcaps style -->
				    		<h4 style="background-color: black">
				    			<%= link_to armory["name"].upcase, "http://us.battle.net/wow/en/character/#{armory["realm"]}/#{armory["name"]}/advanced", :target => "_blank"%>
				    		</h4>

								
				    	</center>
					    </td>

					    <!--Icons -->
						<% if armory["class"] == 6 %>
				    		<td class="dk">
				    	<% elsif armory["class"] == 11 %>
				    		<td class=" druid">
				    	<% elsif armory["class"] == 3 %>
				    		<td class=" hunter">
				    	<% elsif armory["class"] == 8 %>
				    		<td class=" mage">
				    	<% elsif armory["class"] == 10 %>
				    		<td class=" monk">
				    	<% elsif armory["class"] == 2 %>
				    		<td class=" paladin">
				    	<% elsif armory["class"] == 5 %>
				    		<td class=" priest">
				    	<% elsif armory["class"] == 4 %>
				    		<td class=" rogue">
				    	<% elsif armory["class"] == 7 %>
				    		<td class=" shaman">
				    	<% elsif armory["class"] == 9 %>
				    		<td class=" warlock">
				    	<% elsif armory["class"] == 1 %>
				    		<td class=" warrior">
		    			<% end %>
						
					    <!-- Role Icon -->
					    <% if role = armory["talents"][1]["selected"] %>
					    	<% role_icon = "icon-class-role-dealer.gif" if armory["talents"][1]["spec"]["role"] == "DPS" %>
					    	<% role_icon = "icon-class-role-healer.gif" if armory["talents"][1]["spec"]["role"] == "HEALING" %>
					    	<% role_icon = "icon-class-role-tank.gif" if armory["talents"][1]["spec"]["role"] == "TANK" %>
				    	<% else %>
					    	<% role_icon = "icon-class-role-dealer.gif" if armory["talents"][0]["spec"]["role"] == "DPS" %>
					    	<% role_icon = "icon-class-role-healer.gif" if armory["talents"][0]["spec"]["role"] == "HEALING" %>
					    	<% role_icon = "icon-class-role-tank.gif" if armory["talents"][0]["spec"]["role"] == "TANK" %>
			    		<% end %>

				    	<% role = "http://www.blizzpro.com/wp-content/uploads/2013/07/" + role_icon %>
					    <%= image_tag(role, height: '64', width: '64' ) %>	<br><br>

						<!-- Class Icon -->
		        		<%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/e/e5/Ui-charactercreate-classes_deathknight.png", height: '32', width: '32' ) if armory["class"] == 6 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/6/6f/Ui-charactercreate-classes_druid.png", height: '32', width: '32' ) if armory["class"] == 11 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/4/4e/Ui-charactercreate-classes_hunter.png", height: '32', width: '32' ) if armory["class"] == 3 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/5/56/Ui-charactercreate-classes_mage.png", height: '32', width: '32' ) if armory["class"] == 8 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/2/24/Ui-charactercreate-classes_monk.png", height: '32', width: '32' ) if armory["class"] == 10 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/8/80/Ui-charactercreate-classes_paladin.png", height: '32', width: '32' ) if armory["class"] == 2 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/0/0f/Ui-charactercreate-classes_priest.png", height: '32', width: '32' ) if armory["class"] == 5 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/b/b1/Ui-charactercreate-classes_rogue.png", height: '32', width: '32' ) if armory["class"] == 4 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/3/3e/Ui-charactercreate-classes_shaman.png", height: '32', width: '32' ) if armory["class"] == 7 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/c/cf/Ui-charactercreate-classes_warlock.png", height: '32', width: '32' ) if armory["class"] == 9 %>
						    <%= image_tag("http://hydra-media.cursecdn.com/wowpedia.org/3/37/Ui-charactercreate-classes_warrior.png", height: '32', width: '32' ) if armory["class"] == 1 %>

						    <!-- Spec Icon -->
						    <% spec = armory["talents"][1]["selected"] ? "http://media.blizzard.com/wow/icons/36/" + armory["talents"][1]["spec"]["icon"] + ".jpg" :
		    												 			 "http://media.blizzard.com/wow/icons/36/" + armory["talents"][0]["spec"]["icon"] + ".jpg"	 %>
						    <%= image_tag(spec, height: '32', width: '32' ) %>	

				    	</td>


					    <td>
					    	<!-- Gear -->

										<% if armory["items"]["averageItemLevelEquipped"] >= ideal_ilvl - 2 %>
											<span style="color:green">
										<% elsif armory["items"]["averageItemLevelEquipped"] < ideal_ilvl - 2 && armory["items"]["averageItemLevelEquipped"] >= ideal_ilvl - 10 %>
											<span style="color:yellow">
										<% elsif armory["items"]["averageItemLevelEquipped"] < ideal_ilvl - 10 && armory["items"]["averageItemLevelEquipped"] >= ideal_ilvl - 21 %>
											<span style="color:orange">
										<% elsif armory["items"]["averageItemLevelEquipped"] <= ideal_ilvl - 22 %>
											<span style="color:red">
										<% else %>
											<span style="color:white">
										<% end %>

										<strong><%= "#{armory["items"]["averageItemLevelEquipped"]} iLvl" %></strong>
										</span>

										<% ilvl_array << armory["items"]["averageItemLevelEquipped"] %>
										<br>

										<!-- Check for PVP gear --> 
										<% pvp_gear = {} %>
								    	<% pvp_gear["head"] = armory["items"]["head"] %>
								    	<% pvp_gear["neck"] = armory["items"]["neck"] %>
								    	<% pvp_gear["shoulder"] = armory["items"]["shoulder"] %>
								    	<% pvp_gear["back"] = armory["items"]["back"] %>
								    	<% pvp_gear["chest"] = armory["items"]["chest"] %>
								    	<% pvp_gear["wrist"] = armory["items"]["wrist"] %>
								    	<% pvp_gear["hands"] = armory["items"]["hands"] %>
								    	<% pvp_gear["waist"] = armory["items"]["waist"] %>
								    	<% pvp_gear["legs"] = armory["items"]["legs"] %>
								    	<% pvp_gear["feet"] = armory["items"]["feet"] %>
								    	<% pvp_gear["finger1"] = armory["items"]["finger1"] %>
								    	<% pvp_gear["finger2"] = armory["items"]["finger2"] %>
								    	<% pvp_gear["trinket1"] = armory["items"]["trinket1"] %>
								    	<% pvp_gear["trinket2"] = armory["items"]["trinket2"] %>
								    	<% pvp_gear["mainHand"] = armory["items"]["mainHand"] %>

								    	<% pvp_counter = 0 %>
									    <% pvp_gear.each do |k, v| %>
									    	<% pvp_counter += 1 unless v["name"].include?("Gladiator") && v["itemLevel"] >= ideal_ilvl %>
									    	<% pvp_counter -= 1 if v["name"].include?("Gladiator") && v["itemLevel"] < ideal_ilvl %>
									    <% end %>
									    <% if pvp_counter == 0 %>
											<span style="color:green">
										<% elsif pvp_counter >=1 && pvp_counter < 4 %>
											<span style="color:yellow">
										<% elsif pvp_counter >=4 && pvp_counter < 7 %>
											<span style="color:orange">
										<% elsif pvp_counter >=7 %>
											<span style="color:red">
										<% else %>
											<span style="color:white">
										<% end %>

									    <%= pvp_counter == 0 ? "PVP Gear" : "#{pvp_counter} PvE pieces" %>
										</span>
									    <br>

									    <!-- check gems-->
								    	<% gems = {} %>
								    	<% gems2 = {} %>
								    	<% gems2["head"] = armory["items"]["head"]["tooltipParams"].to_a.join(' ').scan("gem").count %>
								    	<% gems["shoulder"] = armory["items"]["shoulder"]["tooltipParams"].to_a.join(' ').scan("gem").count %>
								    	<% gems2["chest"] = armory["items"]["chest"]["tooltipParams"].to_a.join(' ').scan("gem").count %>
								    	<% gems["hands"] = armory["items"]["hands"]["tooltipParams"].to_a.join(' ').scan("gem").count %>
								    	<% gems2["waist"] = armory["items"]["waist"]["tooltipParams"].to_a.join(' ').scan("gem").count %>
								    	<% gems2["legs"] = armory["items"]["legs"]["tooltipParams"].to_a.join(' ').scan("gem").count %>
								    	<% gems["feet"] = armory["items"]["feet"]["tooltipParams"].to_a.join(' ').scan("gem").count %>

								    	<% enchant = Hash.new(0) %>
								    	<% enchant["shoulder"] = armory["items"]["shoulder"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>
								    	<% enchant["back"] = armory["items"]["back"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>
								    	<% enchant["chest"] = armory["items"]["chest"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>
								    	<% enchant["wrist"] = armory["items"]["wrist"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>			
								    	<% enchant["waist"] = armory["items"]["waist"]["tooltipParams"].to_a.join(' ').scan("Socket").count %>
								    	<% enchant["hands"] = armory["items"]["hands"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>
								    	<% enchant["legs"] = armory["items"]["legs"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>
								    	<% enchant["feet"] = armory["items"]["feet"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>
								    	<% enchant["weapon"] = armory["items"]["mainHand"]["tooltipParams"].to_a.join(' ').scan("enchant").count %>

										<% count, missinggems, missingenchants = 0, 0, 0 %>
										<% if gems2["head"]>=2 && gems["shoulder"]>=1 && gems2["chest"]>=2 && gems["hands"]>=1 && gems2["legs"]>=2 && gems2["waist"]>=2 && gems["feet"]>=1 %>
											<span style="color:green">Fully Gemmed</span>
										<% else %>
											<span style="color:red">
												<% arr = [] %>
												<% gems.each do |k, v| %>
													<% if v < 1 %>
														<% arr << k %>
														<% count += 1 %>
													<% end %>
												<% end %>
												<% gems2.each do |k, v| %>
													<% if v < 2 %>
														<% arr << k %>
														<% count += (2-v) %>
													<% end %>
												<% end %>	
											<%= "Missing #{count} PVP gems (#{arr.map(&:capitalize).join(', ')})" %>
											</span>
										<% end %>
										<% missinggems = count %>
										<br>

										<!-- enchants-->
										<% count = 0 %>
										<% unless enchant.values.include?(0) %>
											<span style="color:green">Fully Enchanted</span>
										<% else %>
											<span style="color:red">
												<% arr = [] %>
												<% enchant.each do |k, v| %>
													<% if v < 1 %>
														<% arr << k %>
														<% count += 1 %>
													<% end %>
												<% end %>

											<%= "Missing #{count} PVP enchants (#{arr.map(&:capitalize).join(', ')})" %>
											</span>
										<% end %>
										<% missingenchants = count %>
						</td>

			    <td>		
				    <% achvrbg = 0 %>
					<% hoth = true if achievements.include?(6941) || achievements.include?(6942) %>
				    <% achvrbg = 1100 if achievements.include?(5345) || achievements.include?(5330) %>
				    <% achvrbg = 1200 if achievements.include?(5346) || achievements.include?(5331) %>
				    <% achvrbg = 1300 if achievements.include?(5347) || achievements.include?(5332) %>
				    <% achvrbg = 1400 if achievements.include?(5348) || achievements.include?(5333) %>
				    <% achvrbg = 1500 if achievements.include?(5349) || achievements.include?(5334) %>
				    <% achvrbg = 1600 if achievements.include?(5350) || achievements.include?(5335) %>
				    <% achvrbg = 1700 if achievements.include?(5351) || achievements.include?(5336) %>
				    <% achvrbg = 1800 if achievements.include?(5352) || achievements.include?(5337) %>
				    <% achvrbg = 1900 if achievements.include?(5338) || achievements.include?(5359) %>
				    <% achvrbg = 2000 if achievements.include?(5353) || achievements.include?(5339) %>
				    <% achvrbg = 2100 if achievements.include?(5354) || achievements.include?(5340) %>
				    <% achvrbg = 2200 if achievements.include?(5355) || achievements.include?(5341) %>
				    <% achvrbg = 2300 if achievements.include?(5342) || achievements.include?(5357) %>
				    <% achvrbg = 2400 if achievements.include?(5356) || achievements.include?(5343) %>	


						<% rbgw = armory["pvp"]["brackets"]["ARENA_BRACKET_RBG"]["seasonWon"] %>
						<% rbgl = armory["pvp"]["brackets"]["ARENA_BRACKET_RBG"]["seasonLost"] %>
						<% winratio = (rbgw.to_f / (rbgw + rbgl) * 100).round(2) %>
						<% cr = armory["pvp"]["brackets"]["ARENA_BRACKET_RBG"]["rating"] %>
						<strong>
							<% if cr >= 2000 %>
								<span style="color:green">
	    					<% elsif cr < 2000  && cr >=1750 %>
								<span style="color:yellow">
	    					<% elsif cr < 1750  && cr >= 1550 %>
								<span style="color:orange">
	    					<% elsif cr < 1550  && cr >= 1000 %>
								<span style="color:white">
							<% elsif cr < 1000 %>
								<span style="color:red">
							<% end %>
							<%= "#{armory["pvp"]["brackets"]["ARENA_BRACKET_RBG"]["rating"]} CR " %>
						</strong><br>
						<%= rbgw + rbgl <= 0 ? "No RBGs played" : "#{rbgw} Win - #{rbgl} Loss (#{winratio}%)" %>

						<% cr_array << armory["pvp"]["brackets"]["ARENA_BRACKET_RBG"]["rating"]%>
						<br><br>
						<% rbg_array << achvrbg %>

	    				<small>
	    					<% if achvrbg >= 2000 %>
								<span style="color:green">
	    					<% elsif achvrbg < 2000  && achvrbg >=1750 %>
								<span style="color:yellow">
	    					<% elsif achvrbg < 1750  && achvrbg >= 1550 %>
								<span style="color:orange">
	    					<% elsif achvrbg < 1550  && achvrbg >= 1000 %>
								<span style="color:white">
							<% elsif achvrbg < 1000 %>
								<span style="color:red">
							<% end %>
							<%= "#{achvrbg} RBG Experience" %>
						</small><br>
				</td>

			    <td>
				    
					<!-- PVP Titles -->
				    <% achv2 = 0 %>
				    <% achv3 = 0 %>
				    <% achv5 = 0 %>
				    <% arena2 = armory["pvp"]["brackets"]["ARENA_BRACKET_2v2"]["rating"] %>
						<% arena2w = armory["pvp"]["brackets"]["ARENA_BRACKET_2v2"]["seasonWon"] %>
						<% arena2l = armory["pvp"]["brackets"]["ARENA_BRACKET_2v2"]["seasonLost"] %>
					  <% arena3 = armory["pvp"]["brackets"]["ARENA_BRACKET_3v3"]["rating"] %>
						<% arena3w = armory["pvp"]["brackets"]["ARENA_BRACKET_3v3"]["seasonWon"] %>
						<% arena3l = armory["pvp"]["brackets"]["ARENA_BRACKET_3v3"]["seasonLost"] %>
					  <% arena5 = armory["pvp"]["brackets"]["ARENA_BRACKED_5v5"]["rating"] %>
						<% arena5w = armory["pvp"]["brackets"]["ARENA_BRACKED_5v5"]["seasonWon"] %>
						<% arena5l = armory["pvp"]["brackets"]["ARENA_BRACKED_5v5"]["seasonLost"] %>
				    
				    <% achv2 = 1550 if achievements.include? 399 %>
				    <% achv2 = 1750 if achievements.include? 400 %>
				    <% achv2 = 2000 if achievements.include? 401 %>
				    <% achv2 = 2200 if achievements.include? 1159 %>
				    <% achv3 = 1550 if achievements.include? 402 %>
				    <% achv3 = 1750 if achievements.include? 403 %>
				    <% achv3 = 2000 if achievements.include? 405 %>
				    <% achv3 = 2200 if achievements.include? 1160 %>
				    <% achv3 = 2400 if achievements.include? 5266 %>
				    <% achv3 = 2700 if achievements.include? 5267 %>
				    <% achv5 = 1550 if achievements.include? 406 %>
				    <% achv5 = 1750 if achievements.include? 407 %>
				    <% achv5 = 2000 if achievements.include? 404 %>
			  		<% achv5 = 2200 if achievements.include? 1161 %>
					<strong><%= "2v2: #{arena2} CR " %></strong> <small><%= "(#{achv2} exp)" %></small><br>
				    <strong><%= "3v3: #{arena3} CR " %></strong> <small><%= "(#{achv3} exp)" %></small><br>
				    <strong><%= "5v5: #{arena5} CR " %></strong> <small><%= "(#{achv5} exp)" %></small><br>
					
					<% if [achv2, achv3, achv5].sort[-1] >= 2000 %>
						<span style="color:green">
					<% elsif [achv2, achv3, achv5].sort[-1] < 2000 && [achv2, achv3, achv5].sort[-1] >= 1750 %>
						<span style="color:yellow">
					<% elsif [achv2, achv3, achv5].sort[-1] < 1750 && [achv2, achv3, achv5].sort[-1] >= 1550 %>
						<span style="color:orange">
					<% elsif [achv2, achv3, achv5].sort[-1] < 1550 %>
						<span style="color:red">
					<% end %>
					<small><%= "#{[achv2, achv3, achv5].sort[-1]} Exp " %></small>
					</span>

					<!-- Exp -->
					<% arena_array << [achv2, achv3, achv5].sort[-1]%>
		    	</td>

					    	<td>
						    <!-- Score -->

								<% score_ilvl = armory["items"]["averageItemLevelEquipped"] - (ideal_ilvl - 27) <= 0 ? 0 : ((armory["items"]["averageItemLevelEquipped"]-(ideal_ilvl - 26))/2.6).round(1) %>
								<% score_ilvl = 10 if score_ilvl > 10 %>
					
								<% score_gems = (20-(missingenchants + missinggems))/2.0 %>
								<% score_gear = ((score_ilvl * 0.75) + (score_gems * 0.25)).round(1) %><!-- weighted gear score on 0-10 scale. Gear is worth 80%, Gems and Enchants 10% each-->

								<% score_cr = (armory["pvp"]["brackets"]["ARENA_BRACKET_RBG"]["rating"]/220.0).round(2) %> <!--0-10 scale, 2200 is perfect -->
								<% score_cr = 10 if score_cr > 10 %>
								<% score_rbg_exp = (achvrbg / 220.0).round(1) %>
								<% score_rbg_exp = 10 if score_rbg_exp > 10 %>	

								<% score_rbg = score_rbg_exp >= score_cr ? score_rbg_exp : score_cr %>
								<% score_rbg = 10 if score_rbg > 10 || hoth %>

								<% score_arena_exp = ([achv2, achv3, achv5].sort[-1] / 240.0).round(1) %>
								<% score_arena_exp = 10 if score_arena_exp > 10 %>
					
								<% score_arena_title = 4 if title=="Gladiator" %>
								<% score_arena_title = 3 if title=="Duelist" %>
								<% score_arena_title = 2 if title=="Rival" %>
								<% score_arena_title = 1 if title=="Challenger" %>
								<% score_arena_title = 0 if title=="" %>

								<% score_arena = score_arena_exp + score_arena_title %>
								<% score_arena += 2 if arena_master %>
								<% score_arena = 10 if score_arena > 10 || title=="Gladiator"%>

								<% score_final = ((score_gear * 0.2) + (score_rbg * 0.5) + (score_arena * 0.3)).round(2) %>
								<% score_array << score_final %>
								
						    <center>
									<h2>
									<% if score_final >= 9 %>
										<span style="color: green">
									<% elsif score_final <9 && score_final >=7 %>
										<span style="color: yellow">
									<% elsif score_final <7 && score_final >=5 %>
										<span style="color: orange">
									<% elsif score_final <5 %>
										<span style="color: red">
									<% end %>
										<%= score_final %>
									</span>
										<% score_array << score_final %>
								</h2>				
						<small>
						Gear: 
						<% if score_gear >= 9 %>
								<span style="color: green">
							<% elsif score_gear <9 && score_gear >=7 %>
								<span style="color: yellow">
							<% elsif score_gear <7 && score_gear >=5 %>
								<span style="color: orange">
							<% elsif score_gear <5 %>
								<span style="color: red">
							<% end %>
								<%= score_gear %><br>
							</span>
						RBG: 
						<% if score_rbg >= 9 %>
								<span style="color: green">
							<% elsif score_rbg <9 && score_rbg >=7 %>
								<span style="color: yellow">
							<% elsif score_rbg <7 && score_rbg >=5 %>
								<span style="color: orange">
							<% elsif score_rbg <5 %>
								<span style="color: red">
							<% end %>
								<%= score_rbg %><br>
							</span>
						Arena: 
						<% if score_arena >= 9 %>
								<span style="color: green">
							<% elsif score_arena <9 && score_arena >=7 %>
								<span style="color: yellow">
							<% elsif score_arena <7 && score_arena >=5 %>
								<span style="color: orange">
							<% elsif score_arena <5 %>
								<span style="color: red">
							<% end %>
								<%= score_arena %>
							</span>
					</small>
							</center>

						</span>
			    </td>

			    <!-- notes -->
			    <td>
			    	<center>

			    	<% if hoth %>
			        	<br>									    	
				    	<%= button_tag "RBG Hero", class: "btn btn btn-info" %>
			    	<% end %>

					<% if arena_master %>
			        	<br>									    	
				    	<%= button_tag "Arena Master", class: "btn btn btn-success" %>
			    	<% end %>

			    	<% if title=="Gladiator" %>
			        	<br>
			        	<%= link_to title, "#", class: "btn btn btn-warning"%>
			    	<% end %>
			    	<% if ["Duelist", "Rival", "Challenger"].include?(title) %>
			        	<br>
			        	<%= link_to title, "#", class: "btn btn btn-inverse"%>
			    	<% end %>
				    </center>
			<td>

			    <% if (@teamstat.toon_db.find_index(armory)+1) % columns == 0 && tripwire %>
			    	<% tripwire = false %>
			    	</tr></tbody></table>
			    	<% unless @teamstat.toon_db.find_index(armory) == 9 %>
				    	<!-- ad break =) -->
				    	<center>
							<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- footer -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:728px;height:90px"
							     data-ad-client="ca-pub-3325067846211075"
							     data-ad-slot="6431185577"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
				        </center>
			        <% end %>
					<table class="table">
						<thead>
				          <th width="11%"><h3>Toon</h3></th>
					      <th width="9%"></th>
					      <th width="14%"><h3>Gear</h3></th>
					      <th width="22%"><h3>RBG Stats</h3></th>
					      <th width="20%"><h3>Arena Stats</h3></th>
					      <th width="15%"><h3>RBG Score</h3></th>
					      <th width="8%"><h3>Notes</h3></th>
						</thead>
						<tbody>

			    <% end %> 


	 			<% if false %>
					<div class="hover" width="100%">
						<%= "#{missinggems} Gems" %>
					    <div class="appear">
					       <%= "#{arr.map(&:capitalize).join(', ')}" %>
					    </div>
					</div>
       	
        		<% end %> <!-- unless false -->


        	<% end %>
    	<% end %>
    </tbody>
</table>

<% avg_cr = cr_array.inject(0) { |result, sum| result + sum} %>
<% avg_ilvl = ilvl_array.inject(0) { |result, sum| result + sum} %>
<% avg_arena = arena_array.inject(0) { |result, sum| result + sum} %>
<% avg_score = score_array.inject(0) { |result, sum| result + sum} %>
<% avg_rbg = rbg_array.inject(0) { |result, sum| result + sum} %>

<table class="table">    
	<thead>
		<tr>
      <th width="11%"></th>
      <th width="9%"></th>
      <th width="14%"></th>
      <th width="22%"></th>
      <th width="20%"></th>
      <th width="15%"></th>
      <th width="8%"></th>
    </tr>
  </thead>
  <tbody>
	    	<td><h4>AVERAGES</h4></td>
	    	<td></td>
	    	<td>
	    		<h4>
	    		<%="#{(avg_ilvl.to_f/ilvl_array.count).round(2)} iLvl" %>
		    	</h4>
	    	</td>
	    	<td>
	    		<h4>
	    		<%="#{(avg_cr.to_f/cr_array.count).round(0)} CR" %><br>
	    		<%="#{(avg_rbg.to_f/rbg_array.count).round(0)} RBG Exp" %>
		    	</h4>
	    	</td>
	    	<td>
	    		<h4>
					<%="#{(avg_arena.to_f/arena_array.count).round(0)} Arena Exp" %>
				</h4>
			</td>
	    	<td>
	    		<% if (avg_score.to_f/score_array.count).round(2) >= 9 %>
					<span style="color: green">
				<% elsif (avg_score.to_f/score_array.count).round(2) <9 && (avg_score.to_f/score_array.count).round(2) >=7 %>
					<span style="color: yellow">
				<% elsif (avg_score.to_f/score_array.count).round(2) <7 && (avg_score.to_f/score_array.count).round(2) >=5 %>
					<span style="color: orange">
				<% elsif (avg_score.to_f/score_array.count).round(2) <5 %>
					<span style="color: red">
				<% end %>
				<h1><%="#{(avg_score.to_f/score_array.count).round(2)}" %></h1>
					</span>
			</td>
	    	<td></td>

  </tbody>
</table>


<% if tripwire %>
	        <center>
			          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- footer -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-3325067846211075"
			     data-ad-slot="6431185577"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
	        </center>
<% end %>
