<%= simple_form_for(@character, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :realm, :include_blank => "--US Realms Only--",
    	collection: [['Aegwynn', 'aegwynn'],
    	['Aerie Peak','aerie-peak'],
    	['Agamaggan','agamaggan'],
    	['Aggramar','aggramar'],
    	['Akama','Akama'],
    	['Alexstrasza','Alexstrasza'],
    	['Alleria','Alleria'],
    	['Altar of Storms','altar-of-storms'],
    	['Alterac Mountains','alterac-mountains'],
    	['Aman\'thul','aman\'thul'],
    	['Andorhal','Andorhal'],
    	['Anetheron','Anetheron'],
    	['Antonidas','Antonidas'],
    	['Anub\'arak','anub\'arak'],
    	['Anvilmar','Anvilmar'],
    	['Arathor','Arathor'],
    	['Archimonde','Archimonde'],
    	['Area 52','area-52'],
    	['Argent Dawn','argent-dawn'],
    	['Arthas','arthas'],
    	['Arygos','arygos'],
    	['Auchindoun','auchindoun'],
    	['Azgalor','azgalor'],
    	['Azjol-Nerub','azjol-nerub'],
    	['Azralon','Azralon'],
    	['Azshara','Azshara'],
    	['Azuremyst','Azuremyst'],
    	['Baelgun','Baelgun'],
    	['Balnazzar','Balnazzar'],
    	['Barthilas','Barthilas'],
    	['Black Dragonflight','black-dragonflight'],
    	['Blackhand','Blackhand'],
    	['Blackrock','Blackrock'],
    	['Blackwater Raiders','blackwater-raiders'],
    	['Blackwing Lair','Blackwing-Lair'],
    	['Blade\'s Edge','Blade\'s Edge'],
    	['Bladefist','Bladefist'],
    	['Bleeding Hollow','bleeding-hollow'],
    	['Blood Furnace','blood-furnace'],
    	['Bloodhoof','Bloodhoof'],
    	['Bloodscalp','Bloodscalp'],
    	['Bonechewer','Bonechewer'],
    	['Borean Tundra','borean-tundra'],
    	['Boulderfist','Boulderfist'],
    	['Bronzebeard','Bronzebeard'],
    	['Burning Blade','Burning-blade'],
    	['Burning Legion','burning-legion'],
    	['Caelestrasz','Caelestrasz'],
    	['Cairne','Cairne'],
    	['Cenarion Circle','Cenarion-circle'],
    	['Cenarius','Cenarius'],
    	['Cho\'gall','Cho\'gall'],
    	['Chromaggus','Chromaggus'],
    	['Coilfang','Coilfang'],
    	['Crushridge','Crushridge'],
    	['Daggerspine','Daggerspine'],
    	['Dalaran','Dalaran'],
    	['Dalvengyr','Dalvengyr'],
    	['Dark Iron','Dark-iron'],
    	['Darkspear','Darkspear'],
    	['Darrowmere','Darrowmere'],
    	['Dath\'Remar','Dath\'Remar'],
    	['Dawnbringer','Dawnbringer'],
    	['Deathwing','Deathwing'],
    	['Demon Soul','Demon-soul'],
    	['Dentarg','Dentarg'],
    	['Destromath','Destromath'],
    	['Dethecus','Dethecus'],
    	['Detheroc','Detheroc'],
    	['Doomhammer', 'Doomhammer'], 
		['Draenor', 'Draenor'],  
		['Dragonblight', 'dragonblight'],  
		['Dragonmaw', 'dragonmaw'],  
		['Drak\'Tharon', 'Drak\'Tharon'],  
		['Drak\'thul', 'Drak\'thul'],  
		['Draka', 'Draka'],  
		['Drakkari', 'Drakkari'],  
		['Dreadmaul', 'dreadmaul'],  
		['Drenden', 'Drenden'],  
		['Dunemaul', 'dunemaul'],  
		['Durotan', 'durotan'],  
		['Duskwood', 'duskwood'],  
		['Earthen Ring', 'earthen-ring'],  
		['Echo Isles', 'echo-isles'],  
		['Eltrigg', 'eltrigg'],  
		['Eldre\'Thalas', 'eldre\'thalas'],  
		['Elune', 'elune'],  
		['Emerald Dream', 'emerald-dream'],  
		['Eonar', 'eonar'],  
		['Eredar', 'eredar'],  
		['Executus', 'executus'],  
		['Exodar', 'exodar'],  
		['Farstriders', 'farstriders'],  
		['Feathermoon', 'feathermoon'], 
		['Fenris', 'fenris'],  
		['Firetree', 'firetree'],  
		['Fizzcrank', 'fizzcrank'],  
		['Frostmane', 'frostmane'],  
		['Frostwolf', 'frostwolf'],  
		['Galakrond', 'galakrond'],  
		['Gallywix', 'gallywix'],  
		['Garithos', 'garithos'],  
		['Garona', 'garona'],  
		['Garrosh', 'garrosh'],  
		['Ghostlands', 'ghostlands'],  
		['Gilneas', 'gilneas'],  
		['Gnomeregan', 'gnomeregan'],  
		['Goldrinn', 'goldrinn'],  
		['Gorefiend', 'gorefiend'],  
		['Gorgonnash', 'gorgonnash'],  
		['Greymane', 'greymane'],  
		['Grizzly Hills', 'grizzly-hills'],  
		['Gul\'dan', 'gul\'dan'],  
		['Gundrak', 'gundrak'],  
		['Gurubashi', 'gurubashi'],  
		['Hakkar', 'hakkar'],  
		['Haomarush', 'haomarush'],  
		['Hellscream', 'hellscream'],  
		['Hydraxis', 'hydraxis'],  
		['Hyjal', 'hyjal'],  
		['Icecrown', 'icecrown'],  
		['Illidan', 'illidan'],  
		['Jaedenar', 'jaedenar'],  
		['Jubei\'Thos', 'Jubei\'Thos'],  
		['Kael\'Thas', 'kael\'thas'],  
		['Kalecgos', 'Kalecgos'],  
		['Kargath', 'kargath'],  
		['Kel\'Thuzad', 'kel\'thuzad'],  
		['Khadgar', 'khadgar'],  
		['Khaz Modan', 'khaz-modan'],  
		['Khaz\'goroth', 'khaz\'goroth'],  
		['Kil\'Jaeden', 'kil\'jaeden'],  
		['Kilrogg', 'kilrogg'],  
		['Kirin Tor', 'kirin-tor'],  
		['Korgath', 'korgath'],  
		['Korialstrasz', 'korialstrasz'],  
		['Kul Tiras', 'kul-tiras'],  
		['Laughing Skull', 'laughing-skull'],  
		['Lethon', 'lethon'],  
		['Lightbringer', 'lightbringer'],  
		['Lightning\'s Blade', 'lightning\'s-blade'],  
		['Lightninghoof', 'lightninghoof'],  
		['Llane', 'Llane'],  
		['Lothar', 'Lothar'],  
		['Madoran', 'Madoran'],  
		['Maelstrom', 'Maelstrom'],  
		['Magtheridon', 'Magtheridon'],  
		['Maiev', 'Maiev'],  
		['Mal\'Ganis', 'malganis'],  
		['Malfurion', 'Malfurion'],  
		['Malorne', 'Malorne'],  
		['Malygos', 'Malygos'],  
		['Mannoroth', 'Mannoroth'],  
		['Medivh', 'Medivh'],  
		['Misha', 'Misha'],  
		['Mok\'Nathal', 'Mok\'Nathal'],  
		['Moon Guard', 'moon-guard'],  
		['Moonrunner', 'Moonrunner'],  
		['Mug\'thol', 'Mug\'thol'],  
		['Muradin', 'Muradin'],  
		['Nagrand', 'Nagrand'],  
		['Nathrezim', 'Nathrezim'],  
		['Nazgrel', 'Nazgrel'],  
		['Nazjatar', 'Nazjatar'],  
		['Nemesis', 'Nemesis'],  
		['Ner\'zhul', 'Ner\'zhul'],  
		['Nesingwary', 'Nesingwary'],  
		['Nordrassil', 'Nordrassil'],  
		['Norgannon', 'Norgannon'],  
		['Onyxia', 'Onyxia'],  
		['Perenolde', 'Perenolde'],  
		['Proudmoore', 'Proudmoore'],  
		['Quel\'Thalas', 'Quel\'Thelas'],  
		['Quel\'dorei', 'Quel\'dorei'],  
		['Ragnaros', 'Ragnaros'],  
		['Ravencrest', 'Ravencrest'],  
		['Ravenholdt', 'Ravenholdt'],  
		['Rexxar', 'Rexxar'],  
		['Rivendare', 'Rivendare'],  
		['Runetotem', 'Runetotem'],  
		['Sargeras', 'Sargeras'],  
		['Saurfang', 'Saurfang'],  
		['Scarlet Crusade', 'Scarlet-Crusade'],  
		['Scilla', 'Scilla'],  
		['Sen\'jin', 'Sen\'jin'],  
		['Sentinels', 'Sentinels'],  
		['Shadow Council', 'Shadow-Council'],  
		['Shadowmoon', 'Shadowmoon'],  
		['Shadowsong', 'Shadowsong'],  
		['Shandris', 'Shandris'],  
		['Shattered Halls', 'Shattered-halls'],  
		['Shattered Hand', 'Shattered-hand'],  
		['Shu\'halo', 'Shu\'halo'],  
		['Silver Hand', 'Silver-hand'],  
		['Silvermoon', 'Silvermoon'],  
		['Sisters of Elune', 'Sisters-of-elune'],  
		['Skullcrusher', 'Skullcrusher'],  
		['Skywall', 'Skywall'],  
		['Smolderthorn', 'Smolderthorn'],  
		['Spinebreaker', 'Spinebreaker'],  
		['Spirestone', 'Spirestone'],  
		['Staghelm', 'Staghelm'],  
		['Steamwheedle Cartel', 'Steemwheedle-cartel'],  
		['Stonehaul', 'Stonehaul'],  
		['Stormrage', 'Stormrage'],  
		['Stormreaver', 'Stormreaver'],  
		['Stormscale', 'Stormscale'],  
		['Suramar', 'Suramar'],  
		['Tanaris', 'Tanaris'],  
		['Terenas', 'Terenas'],  
		['Terokkar', 'Terokkar'],  
		['Thaurissan', 'Thaurissan'],  
		['The Forgotten Coast', 'the-forgotten-coast'],  
		['The Scryers', 'the-scryers'],  
		['The Underbog', 'the-underbog'],  
		['The Venture Co', 'the-centure-co'],  
		['Thorium Brotherhood', 'thorium-brotherhood'],  
		['Thrall', 'Thrall'],  
		['Thunderhorn', 'Thunderhorn'],  
		['Thunderlord', 'Thunderlord'],  
		['Tichondrius', 'Tichondrius'],  
		['Tol Barad', 'tol-barad'],  
		['Tortheldrin', 'Tortheldrin'],  
		['Trollbane', 'Trollbane'],  
		['Turalyon', 'Turalyon'],  
		['Twisting Nether', 'twisting-nether'],  
		['Uldaman', 'Uldaman'],  
		['Uldum', 'Uldum'],  
		['Undermine', 'Undermine'],  
		['Ursin', 'Ursin'],  
		['Uther', 'uther'],  
		['Vashj', 'Vashj'],  
		['Vek\'nilash', 'Vek\'nilash'],  
		['Velen', 'Velen'],  
		['Warsong', 'Warsong'],  
		['Whisperwind', 'Whisperwind'],  
		['Wildhammer', 'Wildhammer'],  
		['Windrunner', 'Windrunner'],  
		['Winterhoof', 'Winterhoof'],  
		['Wyrmrest Accord', 'Wyrmrest-accord'],  
		['Ysera', 'ysera'],  
		['Ysondre', 'Ysondre'],  
		['Zangarmarsh', 'Zangarmarsh'],  
		['Zul\'jin', 'Zul\'jin'],  
		['Zuluhed', 'Zuluhed']
    	] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
