<% provide(:title, 'My Roster') %>

<h1 class="brand"><%= yield(:title)%></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name", "Character" %></th>
      <th>Race</th>
      <th>Class</th>
      <th><%= sortable "ilvl" %></th>
      <th><%= sortable "cr", "Current Rating" %></th>
      <th><%= sortable "pvppower", "PVP Power" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @characters %>
  </tbody>
</table>
<%= will_paginate @characters %>
<hr>
<center>
  <%= link_to 'Add Character +', new_character_path, class: "btn btn-primary" %>
</center>
