<% provide(:title, 'My Roster') %>

<h1 class="brand"><%= yield(:title)%></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Character", '#' %></th>
      <th>Race</th>
      <th>Class</th>
      <th><%= link_to "Gear Level", '#' %></th>
      <th>Current Rating</th>
      <th>PVP Power</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @characters %>
  </tbody>
</table>

<hr>
<center>
  <%= link_to 'Add Character +', new_character_path, class: "btn btn-primary" %>
</center>
