<% provide(:title, @character.name + ' - ' + @character.realm) %>
<% toon = HTTParty.get("http://us.battle.net/api/wow/character/" + @character.realm + "/" + @character.name + "?fields=stats,pvp,items") %>

<div class="hero-unit">
	<h1 class="brand"><%= yield(:title)%></h1>
	<hr>

	<p>
  		<strong>Armory: </strong><%= link_to @character.name, "http://us.battle.net/wow/en/character/" + @character.realm + "/" + @character.name + "/advanced", :target => "blank" %>
  	</p>
	<p>
  		<strong>Arena Achievements: </strong><%= link_to @character.name, "http://us.battle.net/wow/en/character/" + @character.realm + "/" + @character.name + "/achievement#95:165", :target => "blank" %>
  	</p>  	
  	<p>
  		<strong>Current iLevel: </strong> <%= toon["items"]["averageItemLevelEquipped"] %>
  	</p>

</div>
<% if current_user == @character.user %>
  <%= render 'edit' %>
<% end %>
  <%= render 'back' %>
