<!DOCTYPE html>
<html>
<head>
  <title>RBGHub.com | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <meta name="keywords" content="World of Warcraft, WoW, Rated, Battle, Grounds, Battlegrounds, RBG, pvp, arena, MoP, Mists, Pandaria, Battlemasters, Masters, check, rbgcheck, list, players, listplayers, addon, add-on, macro, strategy, tactics, leading">
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        <% end %>
	    <%= yield %>
	    <%= render 'layouts/footer' %>
	</div>
</body>
</html>
